@model dnm.Models.LoginModels

@{
    ViewBag.Title = "Show";
}

<h2>Show</h2>

<div>
    <h4>welkam @ViewData["uname"]</h4>
    <hr />
    
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
