@{
    ViewBag.Title = "DenemeThread";
}

<h1>asd</h1>
@section Kontak {
    <p id="kek"> kekkekkekkekkekkekkekkekkekkekkekkekkekkekkekkekkekkekkekkekkekkekkekkekkekkekkekkekkekkekkekkekkekkekkekkekkekkekkekkekkekkekkekkekkekkek</p>
}



@*<tr>
    <td>
        @Html.DisplayFor(modelItem => Model.Content)
    </td>
</tr>*@



@*<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
        </tr>
    }

</table>*@